.text-wrapper{
  transition: background-color 0.5s ease;
  position: relative;
  top:150px;
  visibility:hidden;
  color:white;
  padding-top: 5px;
  padding-bottom: 1px;
}
.image-wrapper:hover .text-wrapper{
  visibility:visible;
  opacity: 1;
  background: rgba(0,0,0,0.5);
}
.piece-title {
  position: relative;
  }
.piece-text {
  position: relative;
}
